.input {
  border: none;
  background: $input_bg;
  outline: none !important;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: none;
  }
}