@charset "UTF-8";

 
.icon-money:before { content: '\2795'; } /* '➕' */
.icon-speech-bubble:before { content: '\e02f'; } /* '' */
.icon-search:before { content: '\e031'; } /* '' */
.icon-software:before { content: '\e704'; } /* '' */
.icon-turorial:before { content: '\e764'; } /* '' */
.icon-games:before { content: '\e765'; } /* '' */
.icon-mag:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-down-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-star-empty-1:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-licensing:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-up-open-big:before { content: '\e80c'; } /* '' */
.icon-sms-phone:before { content: '\e811'; } /* '' */
.icon-schedule:before { content: '\e812'; } /* '' */
.icon-cloud-computing:before { content: '\e813'; } /* '' */
.icon-bug:before { content: '\e814'; } /* '' */
.icon-gift-box:before { content: '\e815'; } /* '' */
.icon-swift:before { content: '\e816'; } /* '' */
.icon-payment-method:before { content: '\e817'; } /* '' */
.icon-package:before { content: '\e818'; } /* '' */
.icon-hard-disc:before { content: '\e819'; } /* '' */
.icon-dislike:before { content: '\e81a'; } /* '' */
.icon-like:before { content: '\e81b'; } /* '' */
.icon-xcode:before { content: '\e81c'; } /* '' */
.icon-upload:before { content: '\e81d'; } /* '' */
.icon-ok:before { content: '\e827'; } /* '' */
.icon-cancel-5:before { content: '\e82a'; } /* '' */
.icon-down-open-1:before { content: '\e936'; } /* '' */
.icon-left-open-1:before { content: '\e937'; } /* '' */
.icon-right-open-1:before { content: '\e938'; } /* '' */
.icon-up-open-1:before { content: '\e939'; } /* '' */
.icon-down-open-mini:before { content: '\e93a'; } /* '' */
.icon-left-open-mini:before { content: '\e93b'; } /* '' */
.icon-right-open-mini:before { content: '\e93c'; } /* '' */
.icon-up-open-mini:before { content: '\e93d'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-smartphone-tablet:before { content: '📞'; } /* '\1f4de' */